// Page intro
/*
.pageIntroText {
    font-size: 36px;
    margin: 80px 0 30px 0;

    @media screen and (min-width: 768px) {
        font-size: 40px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 60px;
        max-width: 90%;
    }

    @media screen and (min-width: 1920px) {
        font-size: 60px;
        max-width: 60%;
    }

    ul {
        line-height: initial;

        li {
            @media screen and (min-width: 768px) {
                display: inline-block;
                margin-right: 30px;
                margin-bottom: 0;
            }
        }
    }
}
*/
.memberSearchForm {
    margin: 30px 0;

    input {
        border: none;
        border-bottom: 1px solid white;
        background: transparent;
        margin-right: 15px;
        padding: 5px 30px 5px 0;
        color: white;
        font-weight: 400;
        text-transform: capitalize;
        outline: none;        
        margin-bottom: 15px;

        @media screen and (min-width: 768px) {
            font-size: 40px;
            width: auto;
            margin-bottom: 0;
        }

        @media screen and (min-width: 1024px) {
            font-size: 60px;

        }

        @media screen and (min-width: 1920px) {
            font-size: 60px;

        }
    }

    button {
        background: transparent;
        border: none;
        padding: 5px 30px;
        font-weight: bold;
        color: white;
      
        @media screen and (min-width: 768px) {
            font-size: 40px;
            width: auto;
            margin-bottom: 0;
        }

        @media screen and (min-width: 1024px) {
            font-size: 60px;

        }

        @media screen and (min-width: 1920px) {
            font-size: 60px;

        }
    }
}


